.hour-input {
    margin-bottom: 10px;
}

.employee-select {
    margin-bottom: 10px;
}

.button-container {
    margin-bottom: 20px;
}

.calendar-table {
    width: 100%;
    border-collapse: collapse;

    th, td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: center;
    }
}
